.header {
	padding: 54px;
	background: var(--bg--color-main);
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__items {
	display: flex;
	gap: 35px;
	font-weight: 300;
	font-size: 18px;
}

.nav__button {
	width: 220px;
	height: 70px;
	transition: all 0.3s ease;
}
.nav__button:hover {
	filter: brightness(90%);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.nav__link {
	transition: all 0.3s ease;
}
.nav__link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: rgb(238, 79, 60);
	transition: all 0.3s;
}
.nav__link:hover::after {
	width: 100%;
}
.nav__link:hover {
	color: rgb(238, 79, 60);
}
@media (max-width: 1024px) {
	.header {
		padding: 30px;
	}
	.logo__img {
		width: 140px;
	}
	.nav__items {
		gap: 15px;
		font-size: 16px;
	}
	.nav__button {
		width: 170px;
		height: 50px;
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.header {
		padding: 15px;
	}
	.logo__img {
		width: 100px;
	}
	.nav__items {
		gap: 10px;
		font-size: 14px;
	}
	.nav__button {
		width: 130px;
		height: 40px;
		font-size: 12px;
	}
}
@media (max-width: 460px) {
	.header {
		padding: 10px;
	}
	.logo__img {
		width: 80px;
	}
	.nav__items {
		gap: 10px;
		font-size: 10px;
	}
	.nav__button {
		width: 100px;
		height: 40px;
		font-size: 10px;
	}
}
@media (max-width: 360px) {
	.header__wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
		justify-content: space-between;
		align-items: center;
	}
	.header {
		padding: 10px;
	}
	.logo__img {
		width: 80px;
	}
	.nav__items {
		gap: 10px;
		font-size: 10px;
	}
	.nav__button {
		width: 120px;
		height: 25px;
		font-size: 8px;
	}
}
