.post {
	padding: 20px 10px;
	background-image: url('/img/postBg.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin-bottom: 150px;
}
.post__wrapper {
	display: flex;
	gap: 100px;
	align-items: center;
}
.post__content {
	display: flex;
	flex-direction: column;
	gap: 50px;
	max-width: 412px;
}
.post__title {
	font-family: var(--fontFamily-second);
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
	max-width: 350px;
}
.post__text {
	color: var(--text-color-second);
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
}
.post__btn {
	max-width: 220px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 5%;
}

@media (max-width: 1224px) {
	.post__wrapper{
		gap: 25px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.post__img{
		max-width: 520px;
	}
}
@media (max-width: 1024px){
	.post__img{
		max-width: 400px;
	}
	 .post__title{
		max-width: fit-content;
	 }
	.post__content{
		align-items: center;
	}
}
@media (max-width: 768px){
	.post__title{
		font-size: 36px;
	}
	.post__text{
		font-size: 16px;
	}
}
@media (max-width: 460px){
	.post__img{
		max-width: 320px;
	}
}