.subscribe {
	margin-bottom: 182px;
}
.sybscribe__wrapper {
	position: relative;
	background-color: #ee4f3c;
	padding: 85px 0 85px 150px;
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 50px;
	border-radius: 20px;
}
.sybscribe__wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50px;

	filter: blur(50px);
	background: rgba(238, 79, 60, 0.3);
}
.subscribe__title {
	color: var(--color-white);
	font-family: var(--fontFamily-second);
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
	max-width: 515px;
}
.subscribe__form {
	position: relative;
}
.subscribe__input {
	width: 770px;
	padding: 23px 30px;
	border-radius: 10px;
	font-family: var(--fontFamily-main);
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 5%;
}
.subscribe__input::placeholder {
	color: var(--text-color-second);
	font-family: var(--fontFamily-main);
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 5%;
}
.subscribe__btn {
	position: absolute;
	right: 285px;
	top: 5px;
	border-radius: 0px 10px 10px 0px;
	width: 220px;
	height: 60px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.subscribe__decor-img {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	width: 400px;
	height: 400px;
}
.subscribe__decor-img1 {
	position: absolute;
	bottom: -70px;
	left: -70px;
	z-index: 1000;
}
